@charset "utf-8";

html {}

body {}

a {
    text-decoration: none !important;
}
form img:hover {
    cursor: pointer;
}

/* header */
header {
    background: #DB7093;
    height: 70px;
    position: relative;
    z-index: 9999;
}

#header-logo {
    padding: 5px 10px;
    height: 50px;
    width: 100px;
}

#user-logo {
    margin-top: 2px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#menu {
    padding: 0;
    position: absolute;
    top: 6px;
    right: 0;
    color: #ffffff;
}

#name {
    color: #ffffff;
}

#links {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    list-style: none;
    color: #000000;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    border-bottom: #DB7093 1px solid;
    border-left: #DB7093 1px solid;
}

#accordion_menu>li {
    border: #DB7093 1px solid;
    margin-bottom: -1px;
}

#accordion_menu a {
    color: #DB7093;
    text-align: center;
}

#accordion_menu a[data-toggle="collapse"] {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    text-decoration: none;
    position: relative;
}

#accordion_menu a[data-toggle="collapse"]::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: #ffffff 1px solid;
    border-right: #ffffff 1px solid;
    transform: rotate(45deg);
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    float: right;
}

#accordion_menu a[aria-expanded=false]::after {
    transition-duration: 0.3s;
}

#accordion_menu a[aria-expanded=true]::after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    transition-duration: 0.3s;
}

[id^="menu"] li {
    padding: 10px 10px 10px 20px;
}


/* main content */
.row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
    z-index: 1;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
    z-index: 1;
}

#border {
    border-bottom: #DB7093 solid 2px;
}

#border-t {
    border-top: #DB7093 solid 2px;
}

.but {
    border-style: none;
    outline-style: none;
    background-color: #fff;
    text-decoration: none;
}

/*sidebar内*/
#sidebar {
    border-left: #DB7093 solid 2px;
}

#confirm a {
    text-decoration: none !important;
    color: #ffffff;
}

#list_button {
    width: 120px;
    height: 50px;
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 10px 0 10px;
    background: #DB7093;
    border: 6px ridge #e53b4e;
    border-radius: 5px;
    box-shadow: 1px 1px #1A6EA0;
}
#list_button:hover {
    width: 120px;
    height: 50px;
    font-size: 12px;
    text-align: center;
    display: block;
    background: #DB7093;
    border-radius: 5px;
    border: 0px none;
}

#search_button {
    margin: 0 auto;
}

/*削除*/
#trash button {
    border: none;
    width: 60px;
    height: 60px;
    background: url("/images/trash.png") no-repeat;
    display: block;
    text-indent: -9999px;

}

#trash button:hover {
    background-image: url('/images/trash_h.png');
    cursor: pointer;
}


*:button {
    outline: none !important;
    background: transparent;
    list-style: none;
}

#follow_pare {
    position: relative;
}

#follow_ko {
    position: absolute;
    left: 300px;
    /* 親ボックスの上辺から左方向に50pxの位置 */
}

/*編集*/
#edit {
    width: 45px;
    height: 45px;
}

#edit:hover {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.modal_wrap input {
    display: none;
}

.modal_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}

.modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal_content {
    align-self: center;
    width: 60%;
    height: 60%;
    max-width: 800px;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transform: scale(0.3);
    transition: 0.5s;
    border-radius: 10px;
}

.close_button {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
}

.modal_wrap input:checked~.modal_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}

.modal_wrap input:checked~.modal_overlay .modal_content {
    transform: scale(1);
}

#post_texts{
    width:70%;
    height:90%;
    border-color: #339933;
}
