@chasert "utf-8";

html{
    height: 100%;
}
body{
    height: 100%;
    background-color: linear-gradient(-135deg, #E4A972, #9941D8);
    background-size:cover;
    margin: auto;
    color: #fff;
}
a {
    text-decoration: none !important;
}
a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
}

a.btn--orange:hover {
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
}

a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
